@media print {
  .print-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .orders-list {
    display: none;
  }
}
